* { margin: 0; padding: 0; }

#top {
  display: grid;
  grid-template-rows: 1fr 6fr;
  background-color: #FAFAFA;
  margin-bottom: 0;
}

#title {
  display: grid;
  font-size: 30px;
  text-align: center;
  color: gray;
}

#squares {
  display: grid;
  width: 1036px;
  height: 410px;
  grid-template-columns: repeat(4, 1fr);
  border: solid;
  width: 100%;
/*  margin-left: 100px;*/
  margin-right: 100px;
}

#pictures {

  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr;
  grid-gap: 1em;
  margin-left: 100px;
  margin-right: 100px;
  background: white;
  padding: 50px;
  min-width: 400px;
}

#left {
  display: grid;
  background-color: gray;
}

#left img {
  max-width: 100%;
  height: 100%;
}

#right {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-gap: 1em;
}

#topright {
  display: grid;

}

#topright img {
  width: 100%;
  height: 100%;
}

#bottomright {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
}

#blsquare img {
  width: 100%;
  height: 100%;
}

#brsquare img {
  width: 100%;
  height: 100%;
}



.box {
  border: solid;
  height: 350px;
  width: 259px;
  border-radius: 10px;
  text-align: center;
  margin: 0;
  border-color: lightgray;
  border-width: 1px;
  padding: 20px;
  background: white;
}

.orange {

  /*margin: 10px;*/
  color: #EDC294;
}

.orange:hover {

  border-width: 3px;
  border-color: #EDC294;
}

.green {

  /*margin: 10px;*/
  color: #A3BF15;
}

.green:hover {
  border-color:#A3BF15;
  border-width: 3px;
}

.turquoise {

  /*margin: 10px;*/
  color: #1CBDA2;
}
.turquoise:hover {
  border-color: #1CBDA2;
  border-width: 3px;
}

#see {
  color: #2996CC;
  font-weight: bold;
  background-color: #FAFAFA;

}

#learn {
  font-weight: bold;
}

#quote {

  text-align: center;
  margin-right: 170px;
  margin-left: 170px;
  color: #2E3B4E;
}

#quote1 {
    font-size: 1.9em;
}

#author {
  font-size: .9em;
  font-weight: bold;
}

#selling {
  background-color: #FAFAFA;
  text-align: center;
  padding-top: 50px;
}

#selling1 {
  font-size: 2em;
  color: #2E3B53;
}

#selling2 {
  color: #949BA8;
  font-size: 1.2em;
}

#signup {
  background: #2996CC;
  color: white;
  border-color: #2996CC;
  border-radius: 5px;
  padding: 10px;
  font-weight: bold;

}

#footercontainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: #1B2126;
  color: white;
  padding: 50px;
  font-size: .9em;
  font-weight: bold;
  align-self: center;
  padding-left: 300px;
}

.footertitle {
  color: #6C7980;
  font-size: 1.5em;
}


@media only screen and (max-width: 750px) {
  #squares {
   margin: 0 auto;
/*      width: 700px;
*/      height: 800px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      flex-wrap: wrap;
  }
  #quote1 {
    font-size: 1.5em;
  }
  #pictures {
    margin: 10px;


  }

  #quote {
    margin: 10px;
  }
  #footercontainer {
    grid-template-columns: 1fr 1fr;
    padding-left: 40px;
  }

}

